
@{
    ViewBag.Title = "blog";
    Layout = "~/Views/Shared/_AnasayfaLayout.cshtml";
}

<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>
<h1> Blog blog blog</h1>